@model TODO_APP.Core.Model.Note

<h2>Видалити нотатку</h2>
<p>Ви впевнені, що хочете видалити цю нотатку?</p>
<p><strong>Заголовок:</strong> @Model.Title</p>
<p><strong>Опис:</strong> @Model.Description</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Видалити</button>
    <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
</form>