@model TODO_APP.Core.Model.Note

<h2>Деталі нотатки</h2>
<p><strong>Заголовок:</strong> @Model.Title</p>
<p><strong>Опис:</strong> @Model.Description</p>
<p><strong>Створено:</strong> @Model.CreatedAt</p>
<a asp-action="Index">Назад до списку</a>